[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipython = "*"
jupyter = "*"
traitlets = "*"

[dev-packages]
timeout-decorator = "*"

[requires]
python_version = "3.9.1"
